<template>
	<div class="supplier">
		<!-- begin::Breadcrumb -->
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<router-link :to="{name: 'barang'}">Barang</router-link>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					Create Barang
				</li>
			</ol>
		</nav>
		<!-- end::Breadcrumb -->

		<h1>Create Barang</h1>

		<!-- begin::Form -->
		<div class="card my-5" style="max-width: 80%">
			<div class="card-body">
				<Form @submit="onSubmit" :validation-schema="schema">
					<!-- begin::Nama barang -->
					<div class="my-3">
						<label for="nama-barang" class="text-muted">Nama Barang</label>
						<Field id="nama-barang" name="namaBarang" type="text" class="form-control"/>
						<ErrorMessage name="namaBarang" />
					</div>
					<!-- end::Nama barang -->

					<!-- begin::Harga barang -->
					<div class="my-3">
						<label for="harga-barang" class="text-muted">Harga Barang</label>
						<Field id="harga-barang" name="harga" type="number" class="form-control" />
						<ErrorMessage name="harga" />
					</div>
					<!-- end::Harga barang -->

					<!-- begin::Stok -->
					<div class="my-3">
						<label for="stok" class="text-muted">Stok</label>
						<Field id="stok" name="stok" type="number" class="form-control"/>
						<ErrorMessage name="stok" />
					</div>
					<!-- end::Stok -->

					<!-- begin::Supplier -->
					<div class="my-3">
						<label for="supplier" class="text-muted">Supplier</label>
						<Field id="supplier" name="supplier" as="select" class="form-control">
							<option value="" selected disabled>Select value</option>
							<option
								v-for="(item, index) in supplierStore.supplier" :key="index"
								:value="item">
								{{ item.namaSupplier }} - {{ item.noTelp }}
							</option>
						</Field>
						<ErrorMessage name="supplier" />
					</div>
					<!-- end::Supplier -->
					
					<button type="submit" class="btn btn-primary mt-5">Submit</button>
				</Form>
			</div>
		</div>
		<!-- end::Form -->
	</div>
</template>

<script setup lang="ts">
	import { onMounted, computed } from 'vue';
	import { useStore } from 'vuex';
	import { useRouter } from 'vue-router'; 
	import { Form, Field, ErrorMessage } from 'vee-validate';
	import * as yup from 'yup';

	const store = useStore();
	const router = useRouter();
	const supplierStore = computed(() => store.state.supplier);

	const schema = yup.object({
		namaBarang: yup.string().required('Nama barang is a required field'),
		harga: yup.string().required('Harga is a required field'),
		stok: yup.string().required('Stok is a required field'),
		supplier: yup.object().required('Supplier is a required field'),
	});

	onMounted(() => {
		fetchSupplier();
	})

	const fetchSupplier = () => {
		store.commit('supplier/SET_PARAMS_LIMIT', 99999);
		store.dispatch('supplier/GET_SUPPLIER');
	}

	const onSubmit = (payload: object) => {
		store.dispatch('barang/CREATE_BARANG', payload).then(({status}: {status: number}) => {
			if (status === 200) {
				Swal.fire({
					title: 'Success!',
					text: 'Berhasil Menambahkan Barang',
					icon: 'success',
				}).then(() => {
					router.back();
				});
			}
		}).catch((err: any) => {
			console.log('err => ', err);
			Swal.fire({
				title: 'Error!',
				text: err.message,
				icon: 'error',
			})
		});
	}
</script>
