/*
	Primary Color
*/
$primary-color: #3366FF;
$primary-color-100: #D6E4FF;
$primary-color-200: #ADC8FF;
$primary-color-300: #84A9FF;
$primary-color-400: #6690FF;
$primary-color-600: #254EDB;
$primary-color-700: #1939B7;
$primary-color-800: #102693;
$primary-color-900: #091A7A;

/*
	Semantic Colors
*/
$success-color: #5DE03C;
$success-color-100: #EAFDD8;
$success-color-200: #D1FBB2;
$success-color-300: #AFF589;
$success-color-400: #8EEC6A;
$success-color-600: #3EC02B;
$success-color-700: #25A11E;
$success-color-800: #138115;
$success-color-900: #0B6B14;

$info-color: #41D0FC;
$info-color-100: #D9FEFC;
$info-color-200: #B3FDFE;
$info-color-300: #8CF3FE;
$info-color-400: #70E6FD;
$info-color-600: #2FA4D8;
$info-color-700: #207DB5;
$info-color-800: #145992;
$info-color-900: #0C4078;

$warning-color: #FCE21E;
$warning-color-100: #FEFBD1;
$warning-color-200: #FEF7A4;
$warning-color-300: #FEF177;
$warning-color-400: #FDEB55;
$warning-color-600: #D8BF15;
$warning-color-700: #B59D0F;
$warning-color-800: #927D09;
$warning-color-900: #786505;

$danger-color: #FF6016;
$danger-color-100: #FFEBD0;
$danger-color-200: #FFD1A1;
$danger-color-300: #FFB173;
$danger-color-400: #FF9350;
$danger-color-600: #DB4310;
$danger-color-700: #B72B0B;
$danger-color-800: #931807;
$danger-color-900: #7A0A04;

/*
	Media query breakpoint
*/

$small: 575px;
$medium: 767px;
$large: 991px;
$xlarge: 1199px;
$xxlarge: 1399px;