.sidebar {
	background-color: #FFF;
	height: 100vh;
	border-right: 1px solid #F1F1F1;
	position: fixed;
	width: 300px;

	&__logo {
		display: flex;
		img {
			width: 40px;
		}

		p {
			display: inline-block;
			margin-left: 1rem;
			font-weight: bolder;
			font-size: 18px;
		}
	}

	&__menu {
		list-style-type: none;
		margin-left: -1rem;

		&__item {
			margin: 2rem 0;
			font-weight: bolder;
			cursor: pointer;

			a {
				text-decoration: none;
				color: #000 !important;
			}

			&-config {
				margin: 2rem 0;
				font-weight: bolder;
				cursor: pointer;
				position: absolute;
				bottom: 60px;

				&:hover {
					color: red;
				}
			}

			&-active {
				color: $primary-color;
				margin: 2rem 0;
				font-weight: bolder;
				cursor: pointer;

				a {
					text-decoration: none;
				}
			}
		}
	}

	&__information {
		border: 1px solid #F1F1F1;
		padding: 0.5rem 1rem;
		display: flex;
		position: absolute;
		bottom: 10px;
		width: 244px;
		border-radius: 12px;

		&__avatar {
			width: 40px;
			height: 40px;
			background-color: $info-color-100;
			border-radius: 100px;
			color: $info-color-900;
			font-weight: bolder;
			text-align: center;
			position: relative;

			p {
				position: relative;
				top: 50%;
				-webkit-transform: translateY(-90%);
				-ms-transform: translateY(-90%);
				transform: translateY(-90%);
			}

			span {
				display: inline-block;
				height: 10px;
				width: 10px;
				background-color: $success-color;
				border-radius: 32px;
				position: absolute;
				top: 0;
				right: 0;
				border: 1px solid #FFF;
			}
		}

		p {
			// display: inline-block;
			margin-top: 0.5rem;
			margin-left: 0.5rem;
			font-weight: bolder;
			// font-size: 18px;
		}
	}
}