.auth {
	@media screen and (max-width: $large) {
		height: 100vh;
	}

	&__banner {
		height: calc(100vh - 16px);
		border-radius: 12px;
		background-color: $primary-color;
		padding: 5rem 0 0 2.5rem;
		position: relative;
		color: #FFF;

		&__logo {
			font-weight: bold;
			font-size: 18px;
		}

		&__title {
			font-size: 54px;
			margin: 7rem 0 2rem;
		}

		&__description {
			width: 70%;
			font-size: 18px;
		}

		&__card {
			position: absolute;
			height: 200px;
			width: 85%;
			padding: 2rem;
			border-radius: 16px;
			background-color: $primary-color-700;
			bottom: 5rem;
		}
	}

	&__form {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		margin: 0 10rem;

		@media screen and (max-width: $xlarge) {
			margin: 0 auto;
		}

		p {
			padding: 1rem 0;
			font-size: 20px;
		}

		a {
			text-decoration: none;
			color: $primary-color;
			font-weight: bold;
		}

		label {
			font-size: 18px;
			margin-bottom: 0.5rem;
			font-weight: bold;
		}

		span {
			font-weight: bold;
			font-size: 14px;
			color: $danger-color;
		}
	}
}