.barang {
	padding: 2.5rem 5rem;
	background-color: #FFF;
	width: 100%;

	h1 {
		font-weight: 40px;
		margin: 1rem;
	}

	table {
		width: 100%;
	}

	table, tr {
		border: 1px solid #F1F1F1;
	}

	td {
		padding: 0.8rem 1rem;
	}

	thead {
		tr {
			background-color: #F9FAFD;

			td {
				font-weight: bolder;
			}
		}
	}

	form {
		p {
			padding: 1rem 0;
			font-size: 20px;
		}

		a {
			text-decoration: none;
			color: $primary-color;
			font-weight: bold;
		}

		label {
			font-size: 16px;
			margin-bottom: 0.5rem;
			font-weight: bold;
		}

		span {
			font-weight: bold;
			font-size: 14px;
			color: $danger-color;
		}
	}
}