<template>
	<div class="auth__banner">
		<p class="auth__banner__logo">SINAU</p>
		<h1 class="auth__banner__title">Selamat Datang.</h1>
		<p class="auth__banner__description">
			Temukan Potensi Anda di Marketplace Sinau: Arah Baru dalam Belajar dan Berbisnis
		</p>

		<!-- begin::Banner Card -->
		<div class="auth__banner__card">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				Non debitis placeat rem animi distinctio aspernatur architecto obcaecati hic! 
				Unde quod, reprehenderit quo quia molestias quos neque dolore quidem pariatur 
				consequuntur!
			</p>
		</div>
		<!-- end::Banner Card -->
	</div>
</template>