<template>
	<div class="sidebar p-3">
		<!-- begin::Logo -->
		<div class="sidebar__logo">
			<img src="https://www.svgrepo.com/show/77466/random-shape-outline.svg" alt="Logo">
			<p class="mt-2">SINAU</p>
		</div>
		<!-- end::Logo -->

		<!-- begin::Menu -->
		<ul class="sidebar__menu">
			<li :class="`sidebar__menu__item${route.name === 'barang' ? '-active' : ''}`">
				<router-link :to="{name: 'barang'}">
					<FontAwesome icon="boxes-stacked" />
					Barang
				</router-link>
			</li>
			<li :class="`sidebar__menu__item${route.name === 'supplier' ? '-active' : ''}`">
				<router-link :to="{name: 'supplier'}">
					<FontAwesome icon="boxes-packing" />
					Supplier
				</router-link>
			</li>
			<li class="sidebar__menu__item-config" @click="handleLogout()">
				<FontAwesome icon="right-from-bracket" />
				Logout
			</li>
		</ul>
		<!-- end::Menu -->

		<!-- begin::Information -->
		<div class="sidebar__information">
			<div class="sidebar__information__avatar">
				<p>
					{{ authStore.user.username.charAt(0).toUpperCase() }}
				</p>

				<span class="online"></span>
			</div>
			<p>{{ authStore.user.username }}</p>
		</div>
		<!-- end::Information -->
	</div>
</template>

<script setup lang="ts">
	import { computed } from 'vue';
	import { useStore } from 'vuex';
	import { useRoute } from 'vue-router';

	const store = useStore();
	const route = useRoute();
	const authStore = computed(() => store.state.auth);

	const handleLogout = () => {
		store.dispatch('auth/LOGOUT');
	}
</script>