<template>
	<div class="supplier">
		<!-- begin::Breadcrumb -->
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<router-link :to="{name: 'supplier'}">Supplier</router-link>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					Create Supplier
				</li>
			</ol>
		</nav>
		<!-- end::Breadcrumb -->

		<h1>Create Supplier</h1>

		<!-- begin::Form -->
		<div class="card my-5" style="max-width: 80%">
			<div class="card-body">
				<Form @submit="onSubmit" :validation-schema="schema">
					<!-- begin::Supplier name -->
					<div class="my-3">
						<label for="supplier-name" class="text-muted">Nama Supplier</label>
						<Field id="supplier-name" name="namaSupplier" type="text" class="form-control"/>
						<ErrorMessage name="namaSupplier" />
					</div>
					<!-- end::Supplier name -->

					<!-- begin::Telp -->
					<div class="my-3">
						<label for="telp" class="text-muted">No Telp</label>
						<Field id="telp" name="noTelp" type="text" class="form-control" />
						<ErrorMessage name="noTelp" />
					</div>
					<!-- end::Telp -->

					<!-- begin::Alamat -->
					<div class="my-3">
						<label for="address" class="text-muted">Alamat</label>
						<Field id="address" name="alamat" type="text" class="form-control" as="textarea"/>
						<ErrorMessage name="alamat" />
					</div>
					<!-- end::Alamat -->
					
					<button type="submit" class="btn btn-primary mt-5">Submit</button>
				</Form>
			</div>
		</div>
		<!-- end::Form -->
	</div>
</template>

<script setup lang="ts">
	import { useStore } from 'vuex';
	import { useRouter } from 'vue-router'; 
	import { Form, Field, ErrorMessage } from 'vee-validate';
	import * as yup from 'yup';

	const store = useStore();
	const router = useRouter();

	const schema = yup.object({
		namaSupplier: yup.string().required('Nama supplier is a required field'),
		noTelp: yup.string().required('No Telp is a required field'),
		alamat: yup.string().required('Alamat is a required field'),
	});

	const onSubmit = (payload: object) => {
		store.dispatch('supplier/CREATE_SUPPLIER', payload).then(({status}: {status: number}) => {
			if (status === 200) {
				Swal.fire({
					title: 'Success!',
					text: 'Berhasil Menambahkan Supplier',
					icon: 'success',
				}).then(() => {
					router.back();
				});
			}
		}).catch((err: any) => {
			console.log('err => ', err);
			Swal.fire({
				title: 'Error!',
				text: err.message,
				icon: 'error',
			})
		});
	}
</script>
