<template>
	<div class="barang">
		<div class="d-flex justify-content-between">
			<h1>Barang</h1>
			<router-link
				:to="{name: 'barang-create'}"
				class="btn btn-primary btn-sm mt-4"
				style="max-height: 32px;">
				<FontAwesome icon="plus" />
				Tambah Barang
			</router-link>
		</div>

		<!-- begin::Table -->
		<table border="1">
			<!-- begin::Table Head -->
			<thead>
				<tr>
					<td>No</td>
					<td>Nama Barang</td>
					<td>Stok</td>
					<td>Harga</td>
					<td>Nama Supplier</td>
					<td>Alamat Supplier</td>
					<td>No Telp Supplier</td>
					<td>Aksi</td>
				</tr>
			</thead>
			<!-- end::Table Head -->

			<!-- begin::Table Body -->
			<tbody>
				<tr v-for="(item, index) in barangStore.barang" :key="index">
					<td>{{ noGenerator(barangStore.barangParams.offset, index) }}</td>
					<td>{{ item.namaBarang }}</td>
					<td>{{ item.stok }}</td>
					<td>{{ currency(item.harga) }}</td>
					<td>{{ item.supplier.namaSupplier }}</td>
					<td>{{ item.supplier.alamat }}</td>
					<td>{{ item.supplier.noTelp }}</td>
					<td class="d-flex justify-content-start">
						<button class="btn btn-warning btn-sm m-1" @click="handleSelectBarang(item.id)">
							<FontAwesome icon="pencil" />
						</button>
						<button class="btn btn-danger btn-sm m-1" @click="handleDeleteBarang(item.id)">
							<FontAwesome icon="trash" />
						</button>
					</td>
				</tr>
			</tbody>
			<!-- end::Table Body -->
		</table>
		<!-- end::Table -->

		<!-- begin::Pagination -->
		<div class="d-flex justify-content-between mt-5">
			<div @click="prevPage()" class="btn btn-icon btn-primary">
				<FontAwesome icon="arrow-left" />
			</div>
			<p>
				Page {{ barangStore.barangParams.offset }} of 
				{{ barangStore.barangPagination.total_page }}
			</p>
			<div @click="nextPage()" class="btn btn-icon btn-primary">
				<FontAwesome icon="arrow-right" />
			</div>
		</div>
		<!-- end::Pagination -->
	</div>
</template>

<script setup lang="ts">
	import { onMounted, computed } from 'vue';
	import { useStore } from 'vuex';
	import { useRouter } from 'vue-router';

	/**
	 * Helpers
	 */
	import { noGenerator, currency } from '@/helpers/format';

	const store = useStore();
	const router = useRouter();
	const barangStore = computed(() => store.state.barang)

	onMounted(() => {
		fetchBarang();
	})

	const fetchBarang = () => {
		store.dispatch('barang/GET_BARANG');
	}

	const prevPage = () => {
		store.commit('barang/SET_PARAMS_PAGE', 
			barangStore.value.barangParams.offset - 1);
		fetchBarang();
	}

	const nextPage = () => {
		store.commit('barang/SET_PARAMS_PAGE', 
			barangStore.value.barangParams.offset + 1);
		fetchBarang();
	}

	const handleSelectBarang = (id: number) => {
		store.dispatch('barang/GET_BARANG_BY_ID', id).then(() => {
			router.push({name: 'barang-edit', params: {id}});
		});
	}

	const handleDeleteBarang = (id: number) => {
		Swal.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonText: 'Yes, delete it!'
		}).then((result: any) => {
			if (result.isConfirmed) {
				store.dispatch('barang/DELETE_BARANG', id).then(() => {
					Swal.fire(
						'Deleted!',
						'Berhasil hapus barang.',
						'success'
					).then(() => {
						fetchBarang();
					})
				}).catch((err: any) => {
					console.log('err => ', err);
					Swal.fire({
						title: 'Error!',
						text: err.message,
						icon: 'error',
					})
				});
			}
		})
	}
</script>
