<template>
	<main class="home row p-0 m-0">
		<div class="col-lg-2 p-0">
			<SidebarView />
		</div>
		<div class="col-lg-10">
			<RouterView />
		</div>
	</main>
</template>

<script setup lang="ts">
	/**
	 * Components
	 */
	import SidebarView from '@/components/SidebarView.vue';
</script>
