<template>
	<div class="supplier">
		<div class="d-flex justify-content-between">
			<h1>Supplier</h1>
			<router-link
				:to="{name: 'supplier-create'}"
				class="btn btn-primary btn-sm mt-4"
				style="max-height: 32px;">
				<FontAwesome icon="plus" />
				Tambah Supplier
			</router-link>
		</div>

		<!-- begin::Table -->
		<table border="1">
			<!-- begin::Table Head -->
			<thead>
				<tr>
					<td>No</td>
					<td>Nama Supplier</td>
					<td>Alamat</td>
					<td>No Telp</td>
					<td>Aksi</td>
				</tr>
			</thead>
			<!-- end::Table Head -->

			<!-- begin::Table Body -->
			<tbody>
				<tr v-for="(item, index) in supplierStore.supplier" :key="index">
					<td>{{ noGenerator(supplierStore.supplierParams.offset, index) }}</td>
					<td>{{ item.namaSupplier }}</td>
					<td>{{ item.alamat }}</td>
					<td>{{ item.noTelp }}</td>
					<td class="d-flex justify-content-start">
						<button class="btn btn-warning btn-sm m-1" @click="handleSelectSupplier(item.id)">
							<FontAwesome icon="pencil" />
						</button>
						<button class="btn btn-danger btn-sm m-1" @click="handleDeleteSupplier(item.id)">
							<FontAwesome icon="trash" />
						</button>
					</td>
				</tr>
			</tbody>
			<!-- end::Table Body -->
		</table>

		<!-- begin::Pagination -->
		<div class="d-flex justify-content-between mt-5">
			<div @click="prevPage()" class="btn btn-icon btn-primary">
				<FontAwesome icon="arrow-left" />
			</div>
			<p>
				Page {{ supplierStore.supplierParams.offset }} of 
				{{ supplierStore.supplierPagination.total_page }}
			</p>
			<div @click="nextPage()" class="btn btn-icon btn-primary">
				<FontAwesome icon="arrow-right" />
			</div>
		</div>
		<!-- end::Pagination -->
	</div>
</template>

<script setup lang="ts">
	import { onMounted, computed } from 'vue';
	import { useStore } from 'vuex';
	import { useRouter } from 'vue-router';

	/**
	 * Helpers
	 */
	import { noGenerator } from '@/helpers/format';

	const store = useStore();
	const router = useRouter();
	const supplierStore = computed(() => store.state.supplier)

	onMounted(() => {
		fetchSupplier();
	})

	const fetchSupplier = () => {
		store.commit('supplier/SET_PARAMS_LIMIT', 10);
		store.dispatch('supplier/GET_SUPPLIER');
	}

	const prevPage = () => {
		store.commit('supplier/SET_PARAMS_PAGE', 
		supplierStore.value.supplierParams.offset - 1);
			fetchSupplier();
	}

	const nextPage = () => {
		store.commit('supplier/SET_PARAMS_PAGE', 
		supplierStore.value.supplierParams.offset + 1);
			fetchSupplier();
	}

	const handleSelectSupplier = (id: number) => {
		store.dispatch('supplier/GET_SUPPLIER_BY_ID', id).then(() => {
			router.push({name: 'supplier-edit', params: {id}});
		});
	}

	const handleDeleteSupplier = (id: number) => {
		Swal.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonText: 'Yes, delete it!'
		}).then((result: any) => {
			if (result.isConfirmed) {
				store.dispatch('supplier/DELETE_SUPPLIER', id).then(() => {
					Swal.fire(
						'Deleted!',
						'Berhasil hapus supplier.',
						'success'
					).then(() => {
						fetchSupplier();
					})
				}).catch((err: any) => {
					console.log('err => ', err);
					Swal.fire({
						title: 'Error!',
						text: err.message,
						icon: 'error',
					})
				});
			}
		})
	}
</script>
