<template>
	<div class="auth row m-0 p-0">
		<!-- begin::Banner -->
		<div class="d-none d-lg-block d-xl-block col-12 col-md-6 col-lg-6 col-xl-4 p-2">
			<BannerView />
		</div>
		<!-- end::Banner -->

		<!-- begin::Form -->
		<div class="col-12 col-md-6 col-lg-6 col-xl-8">
			<Particles
				id="tsparticles"
				:particlesInit="particlesInit"
				:particlesLoaded="particlesLoaded"
				:options="particleOptions"
			/>
			<RouterView />
		</div>
		<!-- end::Form -->
	</div>
</template>

<script setup lang="ts">
	import { computed, onBeforeMount } from 'vue';
	import { useRouter } from 'vue-router';
	import { useStore } from 'vuex';
	import { loadFull } from "tsparticles";

	/* 
		Component
	*/
	import BannerView from '@/components/BannerView.vue';

	const store = useStore();
	const router = useRouter();
	const authStore = computed(() => store.state.auth.user);
	const particleOptions = {
		fpsLimit: 120,
		interactivity: {
			events: {
				onHover: {
					enable: true,
					mode: 'repulse'
				},
				resize: true
			},
		},
		particles: {
			color: {
				value: '#ffffff'
			},
			links: {
				color: '#ffffff',
				distance: 150,
				enable: true,
				opacity: 0.5,
				width: 1
			},
			collisions: {
				enable: true
			},
			move: {
				direction: 'none',
				enable: true,
				outMode: 'bounce',
				random: false,
				speed: 6,
				straight: false
			},
			number: {
				density: {
					enable: true,
					area: 800
				},
				value: 80
			},
			opacity: {
				value: 0.2
			},
			shape: {
				type: 'circle'
			},
			size: {
				random: true,
				value: 5
			}
		},
		detectRetina: true
	}

	onBeforeMount(() => {
		if (authStore.value) {
			router.push({name: 'barang'});
		}
	})

	const particlesInit = async (engine: any) => {
    await loadFull(engine);
	};

	const particlesLoaded = async (container: any) => {
			console.log("Particles container loaded", container);
	};
</script>