<template>
	<div class="auth__form p-5">
		<h1>Login</h1>
		<p>
			Don't have an account?
			<router-link to="register">Register</router-link>
		</p>

		<!-- begin::Form -->
		<Form @submit="onSubmit" :validation-schema="schema">
			<!-- begin::Username -->
			<div class="my-3">
				<label for="username" class="text-muted">Username</label>
				<Field id="username" name="username" type="text" class="form-control"/>
				<ErrorMessage name="username" />
			</div>
			<!-- end::Username -->

			<!-- begin::Password -->
			<div class="my-3">
				<label for="password" class="text-muted">Password</label>
				<Field id="password" name="password" type="password" class="form-control" />
				<ErrorMessage name="password" />
			</div>
			<!-- end::Password -->
			
			<button type="submit" class="btn btn-primary mt-5">Submit</button>
		</Form>
		<!-- end::Form -->
	</div>
</template>

<script setup lang="ts">
	import { useStore } from 'vuex';
	import { Form, Field, ErrorMessage } from 'vee-validate';
	import * as yup from 'yup';

	const store = useStore();

	const schema = yup.object({
		username: yup.string().required('Username is a required field'),
		password: yup.string().required('Password is a required field'),
	});

	const onSubmit = (payload: object) => {
		store.dispatch('auth/LOGIN', payload).then(({status}: {status: number}) => {
			if (status === 200) {
				Swal.fire({
					title: 'Success!',
					text: 'Berhasil Login',
					icon: 'success',
				}).then(() => {
					location.reload();
				});
			}
		}).catch((err: any) => {
			console.log('err => ', err);
			Swal.fire({
				title: 'Error!',
				text: err.message,
				icon: 'error',
			})
		});
	}
</script>