<template>
	<div class="auth__form p-5">
		<h1>Register</h1>
		<p>
			Already have an account?
			<router-link to="login">Login</router-link>
		</p>

		<!-- begin::Form -->
		<Form @submit="onSubmit" :validation-schema="schema">
			<!-- begin::Profile Name -->
			<div class="my-3">
				<label for="profile-name" class="text-muted">Profile Name</label>
				<Field id="profile-name" name="profileName" type="text" class="form-control"/>
				<ErrorMessage name="profileName" />
			</div>
			<!-- end::Profile Name -->

			<!-- begin::Username -->
			<div class="my-3">
				<label for="username" class="text-muted">Username</label>
				<Field id="username" name="username" type="text" class="form-control"/>
				<ErrorMessage name="username" />
			</div>
			<!-- end::Username -->

			<!-- begin::Password -->
			<div class="my-3">
				<label for="password" class="text-muted">Password</label>
				<Field id="password" name="password" type="password" class="form-control" />
				<ErrorMessage name="password" />
			</div>
			<!-- end::Password -->

			<!-- begin::Confirm Password -->
			<div class="my-3">
				<label for="confirm-password" class="text-muted">Re Password</label>
				<Field
					id="confirm-password"
					name="passwordConfirmation"
					type="password"
					class="form-control" />
				<ErrorMessage name="passwordConfirmation" />
			</div>
			<!-- end::Confirm Password -->
			
			<button type="submit" class="btn btn-primary mt-5">Submit</button>
		</Form>
		<!-- end::Form -->
	</div>
</template>

<script setup lang="ts">
	import { useStore } from 'vuex';
	import { useRouter } from 'vue-router';
	import { Form, Field, ErrorMessage } from 'vee-validate';
	import * as yup from 'yup';

	const store = useStore();
	const router = useRouter();

	const schema = yup.object({
		profileName: yup.string().required('Profile Name is a required field'),
		username: yup.string().required('Username is a required field'),
		password: yup.string().required('Password is a required field'),
		passwordConfirmation: yup.string()
			.required('Please retype your password.')
			.oneOf([yup.ref('password')], 'Your passwords do not match.')
	});

	const onSubmit = (payload: object) => {
		store.dispatch('auth/REGISTER', payload).then(({status}: {status: number}) => {
			if (status === 200) {
				Swal.fire({
					title: 'Success!',
					text: 'Akun anda berhasil didaftarkan, silahkan Login',
					icon: 'success',
				}).then(() => {
					// redirect to login when success register
					router.push({name: 'login'});
				});
			}
		}).catch((err: any) => {
			console.log('err => ', err);
			Swal.fire({
				title: 'Error!',
				text: err.message,
				icon: 'error',
			})
		});
	}
</script>